<h1>Editing journal line</h1>

<%= render "form", journal_line: @journal_line %>

<br>

<div>
  <%= link_to "Show this journal line", @journal_line %> |
  <%= link_to "Back to journal lines", journal_lines_path %>
</div>
