<div id="<%= dom_id journal %>">
  <p>
    <strong>Journal date:</strong>
    <%= journal.journal_date %>
  </p>

  <p>
    <strong>Journal narration:</strong>
    <%= journal.journal_narration %>
  </p>

</div>
