<p style="color: green"><%= notice %></p>

<h1>General Journal</h1>

<div id="journals">
  <table>
    <tr>
      <td style="width: 5%"></td>
      <td style="width: 5%"></td>
      <td style="width: 70%"></td>
      <td style="width: 10%"></td>
      <td style="width: 10%"></td>
    </tr>
    <% @journals.each do |journal| %>
      <%= render journal %>
    <% end %>
  </table>
</div>

<%= link_to "New journal", new_journal_path %>&nbsp;|&nbsp;<%= link_to "Accounts", accounts_path %>
