<h1>Reports</h1>
<hr/>
<ul>
  <li><%= link_to "Trial Balance", reports_trial_balance_path %></li>
  <li><%= link_to "Profit & Loss", reports_profit_loss_path %></li>
  <li><%= link_to "Balance Sheet", reports_balance_sheet_path %></li>
</ul>
<hr/>
<%= link_to "Accounts", accounts_path %>