<div id="<%= dom_id account %>">
  <p>
    <strong>Type:</strong>
    <%= account.type %>
  </p>

  <p>
    <strong>Contra:</strong>
    <%= account.contra %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

</div>
